.dynamicTile{
    padding:5px;
}
body {
    background-color: #808080;
}

.row.frame{
	background-color:#e8e8e8;
}

.thumbnail img{
    height: 100px;
    width:150px; 
}
/*for the ratings images sizing*/
.img-thumbnail{
    height: 100px;
    width:150px; 

}
.glyphicon-volume-down{
    font-size: 300%;
    color: #c8c8c8;
    vertical-align: middle;
    margin: 0 auto;
}
.soundIconCase span.glyphicon-volume-down{
    
    line-height: 150px;
    text-align: center;
}
span.glyphicon-remove{
    line-height: 20px;
    text-align: center;
}
.glyphicon-remove{
    font-size: 70%;
    color: black;
    vertical-align: middle;
    margin: 0 auto;
}
.soundIconCase img{
    margin:0 auto;
}
.soundIconCase{

    padding:0;
}

#formsPlace > img{

    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.formsSound{
    /*padding works for cards view*/
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.formsSound >img{

    padding:0px;
  /* if you want button to overlap add it on top and
    margin-top: -25px;
    z-index: -1; */
}






/*rules for clearfix for Places*/
.col-xs-6.dynamicTile:nth-child(2n+1),
.col-sm-4.dynamicTile:nth-child(3n+1),
.col-md-3.dynamicTile:nth-child(4n+1),
.col-lg-3.dynamicTile:nth-child(4n+1),{
    clear: left;
  }

/*rules for clearfix for SoundsList*/
.col-xs-4.dynamicTile:nth-child(3n+1),
.col-sm-4.dynamicTile:nth-child(3n+1),
.col-md-3.dynamicTile:nth-child(4n+1),
.col-lg-2.dynamicTile:nth-child(6n+1),{
    clear: left;
  }










